@charset "UTF-8";

/* 共通部分*/
html {
    font-size: 100%;
}
body{
    font-family: "Montserrat", "Open Sans", "Helavetica light", sans-serif;
    line-height: 1.5;
    color: #2E251F;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/*共通レイアウト*/
.align-center {
    text-align: left;
}

/*見出し*/
.font-japanese {
    font-family: "Montserrat", "Open Sans", "Helavetica light", sans-serif;
    font-weight: normal;
}

/*ヘッダー*/
.page-header {
    background-color: #ffb3b3;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 0 auto;
    margin-top: 6%;
    margin-left: 75%;
    float: left;
    width: 90%;
}
.main-nav {
    display: flex;
    gap: 2rem;
    font-size: 0.8rem;
    list-style: none;
    color: #2E251F;
    padding: 1.8rem 10rem;
}
.main-nav a {
    color:#2E251F;
}
.main-nav a:hover {
    color:#885E36;
}

/*トップ画面ホーム*/
.top-main {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 1%, rgba(214, 175, 178, 0.7) 32%, rgba(186, 218, 85, 0.7) 74%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    max-width: auto;
    position: relative;
}

.mamelight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fadein 2.0s forwards;
}

/*ここから下センター豆電球のアニメーション*/
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}
/*ここまでセンター豆電球のアニメーション*/

.welcome {
    position: absolute;
    top: 3%;
    left: 10%;
}
.mame-about {
    position: absolute;
    top: 20%;
    left: 60%;
}
.sousyoku7 {
    position: absolute;
    top: 5%;
    left: 50%;
}
.sousyoku8 {
    position: absolute;
    top: 5%;
    left: 75%;
}
.mame-portfolio {
    position: absolute;
    top: 60%;
    left: 22%;
}
.mame-contact {
    position: absolute;
    top: 83%;
    left: 45%;
}
.mame-instagram {
    position: absolute;
    top: 80%;
    left: 13%;
}
.hirameki {
    position: absolute;
    top: 45%;
    left: 63%;
}

.welcome,.mame-about,.sousyoku7,.sousyoku8,.mame-portfolio,.mame-contact,.mame-instagram,.hirameki {
    animation: slideinBottom 3s forwards;
}

@keyframes slideinBottom {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

/*ABOUTページ*/
.about-main {
        background: rgb(217,235,161);
        background: linear-gradient(90deg, rgba(217,235,161,1) 0%, rgba(247,219,208,1) 100%);
        background-repeat: no-repeat;
        height: 1000px;
        width: auto;
        position: relative;
}

.thought {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.irimamedesu {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%,-50%);
}

.flower-top2 {
    position: absolute;
    top: 7%;
    left: 56%;
    transform: translate(-50%,-50%);
}

.about-irimame {
    position: absolute;
    top: 25%;
    left: 68%;
    transform: translate(-50%,-50%);
}

.flower-top3 {
    position: absolute;
    top: 10%;
    left: 45%;
    transform: translate(-50%,-50%);
}

.flower-left1 {
    position: absolute;
    top: 45%;
    left: 16%;
    transform: translate(-50%,-50%);
}

.flower-left2 {
    position: absolute;
    top: 52%;
    left: 23%;
    transform: translate(-50%,-50%);
}

.flower-right2 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
}

.flower-down1 {
    position: absolute;
    top: 80%;
    left: 21%;
    transform: translate(-50%,-50%);
}

.flower-down2 {
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.flower-insta {
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%,-50%);
}

/*ポートフォリオトップページ*/
.portfolio-main {
    background-image: url(images/Maskgroup.png);
    height: 1400px;
    width: 100%;
    background-repeat: repeat; 
}

.portfolio-top {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-20%);
}

.portfolio-container {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem 2rem;
    text-align: center;
    width: 70%;
    margin-top: 100px;
}

/*ポートフォリオ各ページ*/
.portfolio1-hole {
    display: flex;
    height: 100%;
}

.portfolio1-bg, .portfolio1-bg2-1, .portfolio1-bg2-2, .portfolio1-bg2-3, .portfolio1-bg2-4 {
    flex: 1;
}

.portfolio1-bg {
    background-color: #f4e1cb;
}

.portfolio1-bg2-1, .portfolio1-bg2-2, .portfolio1-bg2-3, .portfolio1-bg2-4 {
    background-image: url(images/bgpf3.png);
    background-size: cover;
    background-position: center;
    }

.pftitle {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    letter-spacing: 0.08em;
}

.pfcontents1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.8;
}

.pfcontents-1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.pfcontents2 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.pfcontents-2 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.pfcontents3 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.pfcontents-3 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.pfcontents4 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.pfcontents-4 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.book1 {
    text-align: center;
}

.movie1 {
    text-align: center;
    margin-top: 16%;
}

.movie2 {
    text-align: center;
    margin-top: 18%;
}

.movie3 {
    text-align: center;
    margin-top: 16%;
}

.movie4 {
    text-align: center;
    margin-top: 18%;
}

/*バナーページ*/
.banner-hole {
    background-color: #f4e1cb;
}

.banner-container {
    position: relative;
    padding: 5% 0;
    left: 16%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem 2rem;
    text-align: center;
    width: 70%;
}

/*問い合わせページ*/
.contact-main {
    background-image: url(images/Maskgroup.png);
    width: 100%;
    height: 1450px;
    background-repeat: repeat;
}

.contact-top {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-20%);
}

.contact-main h2 {
    position: relative;
    text-align: center;
    top: 15%;
    font-size: larger;
}

/* formタグ：フォーム全体 */
.contact {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

/* フォーム共通書式 */
/* ------------------------------------ */
/* labelタグ：項目のラベルと入力欄を囲うタグ */
.form_block {
    position: relative;
    display: grid;
    grid-template-columns: 14em -1fr;
    left: 17%;
    width: 65%;
}

  /* 必須アイコン */
  .form-required {
    margin-left: 1rem;
    color: #fff;
    background-color: #f67a7a;
    padding: 1px 5px;
    font-size: 1rem;
    border-radius: 3px;
}

  /* 入力欄 */
  .form_field {
    border: 1px solid #2E251F;
    background-color: #D9D9D9;
    border-radius: 4px;
    padding: 0.5em 1em;
}

 .form_label {
    margin: 0.5rem;
 }

/* 段落入力 */
/* ------------------------------------ */

.form_field.--textfield {
    height: 15rem;
}

/* 送信ボタン */
/* ------------------------------------ */
.form-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2em;
    font-size: 1.5rem;
    background-color:#f67a7a;
    border-radius: 5px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

/* 送信後のサンクスページ */

.contact-thanks {
    background-image: url(images/Maskgroup.png);
    width: 100%;
    background-repeat: repeat;
}
.section-thanks{
    height: 1110px;
  }

  .thanks_h1{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 25%;
  }
  .thanks_a{
    background-color:#f67a7a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    width: 12em;
    height: 3em;
  }

/*フッター*/
.copyright {
    background-color: #ffb3b3;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 0;
    color: #2E251F;
}

/*タブレット大(961~1280px)*/
@media screen and (max-width:1280px) {

/*トップページ*/
.welcome {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 350px;
}
.mame-portfolio {
    position: absolute;
    top: 63%;
    left: 18%;
}
.mame-instagram {
    position: absolute;
    top: 83%;
    left: 8%;
}
.hirameki {
    position: absolute;
    top: 50%;
    left: 65%;
}

/*aboutページ*/
.irimamedesu {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%,-50%);
}
.about-irimame {
    position: absolute;
    top: 24%;
    left: 82%;
    transform: translate(-50%,-50%);
    width: 50%;
}

/*サンクスページ*/
.thanks_h1{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 35%;
  }

/*問い合わせページ*/
.contact-main {
    background-image: url(images/Maskgroup.png);
    width: 100%;
    height: 1600px;
    background-repeat: repeat;
}

.contact-top {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-20%);
}


}

/*タブレット481~960px*/
@media screen and (max-width:960px) {
  /*ヘッダー*/
    .page-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        position: relative;
        z-index: 1000; /* 背景より前面に表示されるように */
    }

    .logo {
        margin-top: 7%;
        margin-left: 30%;
        float: left;
        width: 85%;
    }

    .main-nav {
        display: flex;
        margin-right: 4rem;
        gap: 2rem;
        font-size: 0.8rem;
        list-style: none;
        padding: 1.75rem 0.5rem 1rem;
    }

/*トップ画面*/
.mamelight {
    width: 160px;
}
.welcome {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 330px;
}
.mame-about {
    position: absolute;
    top: 30%;
    left: 65%;
}
.sousyoku7 {
    display: none;
}
.sousyoku8 {
    position: absolute;
    top: 6%;
    left: 75%;
}
.mame-portfolio {
    position: absolute;
    top: 65%;
    left: 6%;
}
.mame-contact {
    position: absolute;
    top: 74%;
    left: 73%;
}
.mame-instagram {
    position: absolute;
    top: 84%;
    left: 30%;
}
.hirameki {
    display: none;
}

/*aboutページ*/
.about-main {
    height: 1500px;
    position: relative;
}

.thought {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-45%,-50%);
    width: 80%;
}

.irimamedesu {
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
    width: 110%;
}

.flower-top2 {
    position: absolute;
    top: 7%;
    left: 75%;
    transform: translate(-50%,-50%);
}

.about-irimame {
    position: absolute;
    top: 84%;
    left: 55%;
    transform: translate(-25%,-50%);
    width: 75%;
}

.flower-top3 {
    position: absolute;
    top: 10%;
    left: 85%;
    transform: translate(-50%,-50%);
}

.flower-left1 {
    position: absolute;
    top: 37%;
    left: 22%;
    transform: translate(-50%,-50%);
}

.flower-left2 {
    position: absolute;
    top: 52%;
    left: 12%;
    transform: translate(-50%,-50%);
}

.flower-right2 {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
}

.flower-down1 {
    position: absolute;
    top: 75%;
    left: 21%;
    transform: translate(-50%,-50%);
}

.flower-down2 {
    position: absolute;
    top: 89%;
    left: 34%;
    transform: translate(-50%,-50%);
}

.flower-insta {
    position: absolute;
    top: 31%;
    left: 73%;
    transform: translate(-50%,-50%);
}


/*ポートフォリオページ*/
.portfolio-main {
    height: 1800px;
    width: 100%;
    background-repeat: repeat;
}

.portfolio-top {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
}

.portfolio-container {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem ;
    text-align: center;
}  

/*ポートフォリオ1*/
.portfolio1-hole {
   flex-direction: column;
    height: 100%;
}

.portfolio1-bg {
    background-color: #f4e1cb;
    width: 100%;
}

.portfolio1-bg2-1, .portfolio1-bg2-2, .portfolio1-bg2-3, .portfolio1-bg2-4 {
    background-image: url(images/bgpf3.png);
    width: 100%;
    top: 75%;
    }

.pftitle {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    letter-spacing: 0.08em;
}

.pfcontents1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.8;
}

.pfcontents-1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.pfcontents2 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.pfcontents-2 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.pfcontents3 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.pfcontents-3 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.pfcontents4 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.pfcontents-4 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.book1 {
    text-align: center;
}

.movie1 {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.movie2 {
    width: 100%;
    overflow: hidden;
    text-align: center;
}
    

.movie3 {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.movie4 {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.movieplay {
    padding-top: 4%;
    padding-bottom: 15%;
    height: 100%;

}
    
/*サンクスページ*/
.section-thanks {
    height: 1080px;
}

.thanks_h1{
    font-size: 1.3rem;
    text-align: center;
    padding-top: 48%;
  }

  .thanks_a{
    background-color:#f67a7a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    width: 13rem;
    height: 3rem;
  }

/*コンタクトページ*/
.contact-top {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
}

}



/*スマホ480px以下*/
@media screen and (max-width: 480px) {

    /*ヘッダー*/
    .logo {
        margin-top: 7%;
        margin-left: 20%;
        float: left;
        width: 80%;
    }
    
    /*トップページ*/

    .mamelight {
        width: 40%;
    }
    .welcome {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 58%;
    }
    .mame-about {
        position: absolute;
        top: 26%;
        left: 58%;
        width: 35%;
    }
    .sousyoku7 {
        display: none;
    }
    .sousyoku8 {
        display: none;
    }
    .mame-portfolio {
        width: 43%;
    }
    .mame-contact {
        left: 56%;
        width: 37%;
    }
    .mame-instagram {
        position: absolute;
        top: 84%;
        left: 30%;
        width: 45%;
    }
    .hirameki {
        display: none;
    }
    


    /*aboutページ*/
    .about-main {
        height: 2000px;
    }

    .thought {
        position: absolute;
        text-align: center;
        top: 40%;
        width: 95%;
    }
    
    .irimamedesu {
        position: absolute;
        text-align: center;
        top: 14%;
        width: 105%;
    }
    
    .flower-top2 {
        position: absolute;
        top: 4%;
        left: 80%;
        transform: translate(-50%,-50%);
    }
    
    .about-irimame {
        position: absolute;
        text-align: center;
        top: 70%;
        transform: translate(-50%,-50%);
        width: 95%;
    }
    
    .flower-top3 {
        position: absolute;
        top: 7%;
        left: 68%;
        transform: translate(-50%,-50%);
    }
    
    .flower-left1 {
        position: absolute;
        top: 25%;
        left: 22%;
        transform: translate(-50%,-50%);
    }
    
    .flower-left2 {
        position: absolute;
        top: 31%;
        left: 28%;
        transform: translate(-50%,-50%);
    }
    
    .flower-right2 {
        position: absolute;
        top: 27%;
        left: 75%;
        transform: translate(-50%,-50%);
    }
    
    .flower-down1 {
        position: absolute;
        top: 92%;
        left: 21%;
        transform: translate(-50%,-50%);
    }
    
    .flower-down2 {
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .flower-insta {
        position: absolute;
        top: 87%;
        left: 73%;
        transform: translate(-50%,-50%);
        width: 50%;
    }

/*ポートフォリオページ*/
.portfolio-main {
    height: 1700px;
    width: 100%;
    background-repeat: repeat;
}

   /*ポートフォリオ1*/
    .portfolio1-hole {
        display: flex;
    }

    .portfolio1-bg {
        background-color: #f4e1cb;
    }

    .portfolio1-bg2-1 {
        background-image: url(images/bgpf3.png);
        width: 100%;
        }

    .portfolio1-bg2-2 {
        background-image: url(images/bgpf3.png);
        width: 100%;
        }

    .portfolio1-bg2-3 {
        background-image: url(images/bgpf3.png);
        width: 100%;
        }

    .portfolio1-bg2-4 {
        background-image: url(images/bgpf3.png);
        width: 100%;
        }

    .pftitle {
        text-align: center;
        font-size: 2rem;
        margin-top: 9rem;
        margin-bottom: 3rem;
        letter-spacing: 0.08em;
    }

    .pfcontents1 {
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        line-height: 1.2;
    }

    .pfcontents-1 {
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    .pfcontents2 {
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        line-height: 1.2;
    }

    .pfcontents-2 {
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    .pfcontents3 {
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        line-height: 1.2;
    }

    .pfcontents-3 {
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    .pfcontents4 {
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        line-height: 1.2;
    }

    .pfcontents-4 {
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    .book1 {
        text-align: center;
    }

    .movieplay {
        width: 90%;
        padding-top: 20%;
        padding-bottom: 25%;
    }

/*サンクスページ*/
.section-thanks {
    height: 960px;
}

.thanks_h1{
    font-size: 1rem;
    text-align: center;
    padding-top: 85%;
  }

  .thanks_a{
    background-color:#f67a7a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    width: 11rem;
    height: 2.5rem;
  }

/*問合せページ*/
.form-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2em;
    font-size: 1rem;
    background-color:#f67a7a;
    border-radius: 5px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.contact-main h2 {
    position: relative;
    text-align: center;
    top: 15%;
    font-size: smaller;
}

}

/* リセットスタイル */
*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}


/* ハンバーガーメニュー全体 */

/* ハンバーガーボタン */
.toggle_btn {
    position: absolute;
    z-index: 9999; /* ハンバーガーボタンを最前面に */
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
}

.toggle_btn span {
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #454545;
    transition: all 0.5s;
}

/*棒単体の設定*/
.toggle_btn span:nth-child(1) {
    top: 4px;
}
.toggle_btn span:nth-child(2) {
    top: 14px;
}
.toggle_btn span:nth-child(3) {
    bottom: 4px;
}

/*クリックされた後の棒の設定*/
.toggle_btn.open span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
.toggle_btn.open span:nth-child(2) {
    opacity: 0;
}
.toggle_btn.open span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

/*メニューの出方*/
.toggle_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(255 179 179 / 90%);
    transition: 0.4s;
    z-index: 1;
    overflow-y: auto;
}

.toggle_btn.open {
    right: 10px;
}

.toggle_menu ul {
    list-style: none;
    padding: 20px;
}

.toggle_menu ul li a {
    text-decoration: none;
    color: #2E251F;
    font-size: 16px;
    display: block;
    padding: 10px 0;
    transition: 0.2s;
}

.toggle_menu ul li a:hover {
    color: #bf7497
}

@media screen and (min-width: 961px) {
    .toggle_btn {
        display: none;
    }

    .page-header {
        height: 80px;
    }
}

/* ハンバーガーメニューの表示設定 (タブレット以下) */
@media screen and (max-width: 960px) {
    .main-nav {
        display: none;
    }

    .toggle_menu {
        width: 25%;
        right: 0%;
    }
    .page-header {
        height: 80px;
    }
    .toggle_btn.open {
        right: 10px;
    }
}

.toggle_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%; /* 幅を30%に設定 */
    height: 100%;
    background-color: rgba(255, 179, 179, 0.9);
    transition: right 0.6s ease;
    z-index: 1; /* z-indexを低く設定 */
    overflow-y: auto;
}

/* メニューが開かれたとき */
.toggle_menu.open {
    right: 0;
}

/* ハンバーガーボタンの「×」アニメーション */
.toggle_btn.open span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
.toggle_btn.open span:nth-child(2) {
    opacity: 0;
}
.toggle_btn.open span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}




/* PC表示用のヘッダーメニュー */
@media screen and (min-width: 961px) {
    .main-nav {
        display: flex;
        list-style: none;
        padding: 1.8rem 10rem;
    }

    .main-nav li {
        display: inline-block;
        margin-right: 20px; /* メニュー間の幅を20pxに設定 */
    }

    .main-nav li:last-child {
        margin-right: 0; /* 最後のメニュー項目には余白をつけない */
    }
}